.bag{
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
}
.sale{
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
}
.wishlist{
    border-radius: 10px;
}